        table {
            
            border: 3px solid black;

            border-collapse: collapse;
            background-color: #f9f9f9;
        }
        td {
            padding: 8px;
        }
